.line-clamp-3.svelte-mf1avr{display:-webkit-box;-webkit-line-clamp:3;line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}@media(min-width:768px){[data-nav-collapsed=true] .google-images-page.svelte-mf1avr{padding-left:3.5rem}}
